/* #0085d8 is the blue theme colour */
body {
  margin: 0;
}
.margin-container {
  margin: 0 10px 0 10px;
  font-family: "Open Sans", sans-serif;
}

.banner {
  width: 20%;
  margin-top: 0;
  background-color: white;
  height: 4em;
  border-bottom: black 2px solid;
}
.bannerPolygon {
  fill:#40a553;
  stroke: #FFDC00;
  stroke-width: 1.5px;
  z-index: 2;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-left: 3px solid #019eff;
  background-color: #f9f9f9;
  /*margin-left: ;
  width: ;*/
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  text-decoration: none;
  text-align: left;
  display: block;
  padding: 12px 16px;
  margin-left: 0;
  height: 2em;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-content a:not(:last-child) {
  border-bottom: 1px grey solid;
}
.dropdown-content span {
  font-size: 1em;
  line-height: 2em;
}
.downArrow { /*NOTE Could use as CSS mainpulation*/
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
nav {
  text-transform: uppercase;
  /* font-weight: bold; */
  line-height: 0.5em;
  font-family: "Staatliches", sans-serif;
  font-size: 20px;
  background-color: white;
  height: 4.1em;
  margin-bottom: 0;
}
nav ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}
nav ul li {
  float: left;
  text-align: center;
  height: 1.7em;
}
nav ul li:not(.banner) {
  padding-top: 1.8em;
  padding-bottom: 0.5em;
  background-color: white;
  border-bottom: 2px black solid;
}
nav ul li a {
  text-decoration: none;
  text-align: center;
  color: black;
  padding-bottom: 0;
  display: block;
}
.gilded:hover {
  color: #dbb800;
}
nav ul li a.active {
  color: dodgerblue;
  pointer-events: none;
  cursor: default;
}
nav ul li a.active.gilded {
   color: #dbb800;
}
nav ul li a:hover:not(.active):not(.gilded), .dropdown:hover .dropbtn {
  color: #0085d8;
}
nav ul li a:hover > .downArrow {
  border-color: #0085d8;
}
.navUnderline {
  display: inline-block;
  display: none;
  overflow: hidden;
  height: 3px;
}
li svg line {
  stroke: #0085d8;
  stroke-width: 3;
}
