.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #dddddd;
  border-top: 2px solid #dddddd;
}
.flex-container > div {
  background-color: white;
  margin: 0 0.1% 2px 0;
  padding: 1% 1% 1% 1%;
  text-align: center;
  font-size: 26px;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 12em;
}
div.even-flex {
  margin: 0 0 2px 0;
}
.flex-container > div:not(.img-container) {
  width: 37.95%; /* 100 - 0.1/2 - (6*2*2)/2 = 37.95*/
  padding: 1% 6% 1% 6%;
}
.img-container {
  width: 47.95%; /* 100 - 0.1/2 - (2*2*1)/2 = 47.95*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-container img {
  max-height: 12em;
  max-width: 80%;
  border: 2px solid orange;
}
